@inject SignInManager<IdentityUser> SignInManager

    <ul class="list-group list-group-flush">
        <li class="@ManageNavPages.IndexNavClass(ViewContext) text-uppercase list-group-item" style="background-color: white; border-color: black;"><a id="perfil" asp-page="./Index">Perfil</a></li>
        <li class="@ManageNavPages.EmailNavClass(ViewContext) text-uppercase list-group-item" style="background-color: white; border-color: black;"><a id="email" asp-page="./Email">Alterar Email</a></li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) text-uppercase list-group-item" style="background-color: white; border-color: black;"><a id="change-password" asp-page="./ChangePassword">Alterar Senha</a></li>
        <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) text-uppercase list-group-item" style="background-color: white; border-color: black;"><a asp-page="./PersonalData">Excluir conta</a></li>
    </ul>
