@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>A exclusão desses dados removerá permanentemente sua conta e isso não poderá ser recuperado.</strong>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-primary">Deletar Conta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}