@using Microsoft.AspNetCore.Identity
@using RedeSocial.Apresentacao.Controllers
@using RedeSocial.Model.Interfaces.Services

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UsuarioController UserController
@inject IUsuarioServices usuarioServices

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="header-account dropdown default-dropdown">
            @{
                var user = await UserManager.GetUserAsync(User);
                var id = user.Id;

                var usuarioModel = await usuarioServices.GetByIdAsync(id);
                var nomeUsuario = usuarioModel.Nome;

                var fotoPerfil = usuarioModel.FotoPerfil;
            }

            <div class="header-btns-icon" style="border: none;">
                <img class="rounded-circle" width="45" src="@fotoPerfil" alt="">
            </div>


            <strong>Bem vindo, @nomeUsuario!</strong>
            <div class="row">
                <ul class="" style="display: inline-flex;">

                    <li class="nav-item" style="margin-right: 20px;">
                        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Manage/Index">Conta</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark"> Sair</button>
                        </form>
                    </li>
                </ul>

            </div>
        </li>
    }
    else
    {
        <li class="header-account dropdown default-dropdown">
            <div class="header-btns-icon" style="border: none;">
                <i class="rounded-circle fa fa-user-circle" width="150%"></i>
            </div>

            <strong>Bem vindo, Usuario!</strong>
            <div class="row">
                <ul class="" style="display: inline-flex;">
                    <li class="nav-item" style="margin-right: 20px;">
                        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                </ul>
            </div>
        </li>

    }
</ul>
